#about {
    height: 650px;
    background: $colorPrimary1;
}

#about .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .aboutInfo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .aboutInfo .aboutInfoTitle {
    font-size: 40px;
    font-weight: lighter;
}

#about .aboutInfo .aboutInfoText {
    width: 100%;
    line-height: 32px;
    text-align: justify;
}

#about .aboutImageHolder {
    height: 100%;
    width: 48%;
    background-image: url("../images/monika.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 20px $colorPrimary1 inset;
}