#about {
    width: 100%;
    height: 650px;
    background: $colorPrimary1;
}

#about .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

#about .aboutInfo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

#about .aboutInfo .aboutInfoTitleHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .aboutInfo .aboutInfoTitle {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}

#about .aboutInfo .aboutInfoText {
    width: 100%;
    line-height: 24px;
    text-align: justify;
    font-size: 18px;
}

#about .aboutInfo .aboutInfoText p {
    margin-bottom: 10px;
}

#about .aboutInfo .aboutInfoText div {
   text-align: center;
}

#about .aboutInfo .aboutInfoText .aboutInfoTextList {
    display: inline-block;
    margin-left: 20px;
    text-align: left;
}

#about .aboutImageHolder {
    height: 100%;
    width: 50%;
    background-image: url("../images/monika.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px 20px $colorPrimary1 inset;
}

@media (max-width: 1040px) {

    #about {
        height: auto;
        background: $colorPrimary1;
    }

    #about .container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    #about .aboutInfo {
        height: auto;
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    #about .aboutInfo .aboutInfoTitleHolder {
        height: 30%;
    }

    #about .aboutImageHolder {
        height: 400px;
        width: 100%;
        background-position: center;
    }
}

@media (max-width: 450px) {

    #about .aboutImageHolder {
        height: 300px;
    }

    #about .aboutInfo .aboutInfoText {
        text-align: center;
    }
}
