@import "./variables";

#gallery {
    min-height: 500px;
    background-size: cover;
    color: $colorText2;
    padding-top: 30px;
    padding-bottom: 40px;
}

#gallery .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 100%;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.4rem 2rem rgba(0,0,0,0.5);
}

.polaroid > img{
    max-width: 100%;
    max-height: 100%;
}

.caption {
    font-size: 30px;
    text-align: center;
    line-height: 2em;
}

.caption span {
    color: $colorPrimary2
}

.item {
    width: 400px;
    height: auto;
    display: inline-block;
    filter: grayscale(40%);
}

.item:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
}

.item:nth-of-type(4n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
}

.item:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
}

.item:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
}

.item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
    cursor: pointer;
    color: $colorText1;
}

@media (max-width: 920px), (max-height: 860px) {

    #gallery {
        height: auto;
    }

    .wrapper {
        margin-bottom: 30px;
    }

    .item {
        margin-top: 1rem;
        width: 600px;
        filter: none;
    }

    .caption {
        font-size: 26px;
    }
}
