body {
    font-family: 'Quicksand', sans-serif;
    background: $bgColor;
    color: $colorText1;
}

.page {
    overflow-x: hidden;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.decor {
    width: 50%;
    margin: 5px 0 30px 0;
}
